body {
	font-family: Arial, sans-serif;
	background-color: #ffffff;
	color: #333333;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
}

header {
	background-color: #FF6600;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #ffffff;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1, h2 {
	font-weight: normal;
}

.projet {
	margin-bottom: 30px;
}

.projet img {
	max-width: 100%;
}

footer {
	background-color: #FF6600;
	padding: 10px 0px;
	color: #ffffff;
	text-align: center;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #ffffff;
}

/* Styles pour la page de contact */
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-form input[type="text"], 
.contact-form input[type="email"], 
.contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.contact-form input[type="text"]:focus, 
.contact-form input[type="email"]:focus, 
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #FF6600;
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.5);
}

.contact-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #FF6600;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.contact-form input[type="submit"]:hover {
    background-color: #ffffff;
    color: #FF6600;
    border: 2px solid #FF6600;
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.5);
    cursor: pointer;
}

.contact-form .success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-form .error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}
